<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="accordion.toggle('first')"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/send">Send</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/receive">Receive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/history">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/config">Config</a>
        </li>
      </ul>
      <div class="d-flex">
        <app-login-button></app-login-button>
      </div>
    </div>
  </div>
</nav>

<div ngbAccordion #accordion="ngbAccordion">
  <div ngbAccordionItem="first">
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template><a routerLink="/send">Send</a></ng-template>
      </div>
      <div ngbAccordionBody>
        <ng-template><a routerLink="/receive">Receive</a></ng-template>
      </div>
      <div ngbAccordionBody>
        <ng-template><a routerLink="/history">History</a></ng-template>
      </div>
      <div ngbAccordionBody>
        <ng-template><a routerLink="/config">Config</a></ng-template>
      </div>
    </div>
  </div>
</div>
